<?xml version="1.0" encoding="utf-8"?>
<!-- Yayın paketi: mikrofon izni yalnız geliştirici ML Kit deneyi içindi; kullanıcıya gereksiz izin göstermeyelim -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove" />
</manifest>
